<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="css/chunk-7a512a2a.css" rel="prefetch">
    <link href="css/chunk-cb786fd6.css" rel="prefetch">
    <link href="js/chunk-2d0e5d62.js" rel="prefetch">
    <link href="js/chunk-7a512a2a.js" rel="prefetch">
    <link href="js/chunk-cb786fd6.js" rel="prefetch">
    <link href="css/app.css" rel="preload" as="style">
    <link href="js/app.js" rel="preload" as="script">
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script src="js/app.js"></script>
</body>
</html>
